.menu {
  height: 90vh;
}
.menu-items > div {
  padding: 10px 1rem;
  height: 38px;
}
.menu-items > div > p {
  font-size: 15px;
  margin-left: 13px;
}
.menu-items > .active {
  background-color: var(--blue-tab);
  transition: background-color 300ms ease;
}
.hamburger.items-start,
.hamburger.items-end {
  transition: align-items 500s ease-in;
}
.tab-icon {
  height: 18px;
  max-width: 18px;
}
.small-menu .tab-icon {
  margin-left: -8px;
}
