@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #e5e5e5;
}
:root {
  --dark-blue-bg-main: #023b96;
  --menu-blue: rgba(10, 105, 218, 100%);
  --blue-tab: #0076ff;
  --blue-tab-hover: rgba(0, 119, 255, 0.5);
  --horizontal-tab-bg: #0a6ada;
  --red-search-button: #df142d;
}
.show {
  outline: 1px solid red;
}
.center-absolutely {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.found-flights::-webkit-scrollbar {
  width: 5px;
}
.found-flights::-webkit-scrollbar-thumb {
  background-color: #df142d;
  border-radius: 2px;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(37, 99, 235);
  border-radius: 20px;
}
.check-in-or-out-picker::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
  z-index: 50;
}
